@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body{
    background-color: #fac7ce;
    font-family: Roboto, sans-serif;
}

.wrapper {

}
.container {

}
.love {

}

.love__title {
    color: #f30c55;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.love__actions{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
    
}

.pink {

}

.love__button{
    border: none;
    background-color: #fa405c;
    padding: 10px 15px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.love__button--green{
    color: #38a3a5;
    transition: all 0.3s ease;

}
.love__button--red{
    color: #800f2f;
    transition: all 0.3s ease;

}

.love__button--green:hover{
    color: #286c6d;
    background-color: #ce374e;
}

.love__button--red:hover{
    color: #580c22;
    background-color: #ce374e;

}